
.art {
    
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    h1 {
        margin-left: 2rem;
    }
        .form {
            
            ul li  {
                list-style: none;
                margin-bottom: 2rem;

                label {
                    color: $color-secondary;
                    display: block;
                    font-size: $font-size-default;

                }

                input {
                    width: 50rem;
                    height: 3rem;
                    margin-top: .5rem;
                    margin-bottom: 3rem;
                }
                

            }
        }

}